<p id="notice"><%= notice %></p>

<h1>Listing Eqi Details</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eqi_details.each do |eqi_detail| %>
      <tr>
        <td><%= link_to 'Show', eqi_detail %></td>
        <td><%= link_to 'Edit', edit_eqi_detail_path(eqi_detail) %></td>
        <td><%= link_to 'Destroy', eqi_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eqi detail', new_eqi_detail_path %>
